
terraform {
  backend "azurerm" {
    resource_group_name  = "resource_group_name"
    access_key           = "storage_account_access_key"
    storage_account_name = "storage_account_name"
    container_name       = "storage_account_container"
    key                  = "container_key"
  }
}